<header class="header">
  <h1 class="logo">
    <a
    pTooltip="לעמוד הבית" 
    tooltipPosition="bottom"
    routerLink='/'
     >לך תזכור<img src="/assets/book.png"></a></h1>
    <h3 class="deadManName"><img src="/assets/ligth.png"><span class="positDeadManName">{{deadManName}} ז"ל</span></h3>
    <ul class="main-nav">
      <li>
        <a class="listPages">
          <i class='fas fa-angle-down'></i>
          רשימת עמודים ללימוד</a>
        <ul class="dropdown">
          <li><a routerLink="/blassBeforeLimud">ברכה לפני לימוד</a></li>
          <li class="lettersSoul" *ngIf="privateName != undefined"><a>אותיות ללימוד משניות</a></li>
          <li *ngFor="let letter of splitedPrivateName"><a routerLink='/{{letter}}'><b>{{letter}}</b></a></li>
          <li><a routerLink="/suolLetters">אותיות נשמה</a></li>
          <li><a routerLink="/kelim">כלים כד</a></li>
          <li><a routerLink="/blassAfterLimud">ברכה אחר לימוד</a></li>  
        </ul>
      </li>
    </ul>
</header> 
