.container {
    margin-top: 78px;
    background-color: var(--salmon);
    min-height: 100vh;
    text-align: center;
    width: auto;
}

.containText {
    white-space: pre;
    padding: 15px;
    text-align: right;
    direction: rtl;
    font-size: 30px;
    width: 70%;
    font-weight: bold;
    font-family: "Courier New", monospace;
    background-color: var(--white);
    margin: auto;
    min-height: 100vh;
    border: 2px solid black;
}

.custom-class {
    position: fixed;
    background-color: var(--your-pink);
    border-color: green;
    height: 30px;
    width: 30px;
    border-radius: 20px 20px 20px 20px;
    right: 5px;
    color: green;
    border: 5px solid;
    line-height: 20px;
}

.fixContent {
    white-space: pre-wrap;
}

.goToUpBtn {
    font-size: 12px;
}

.privateName{
    background-color: lightyellow;
    text-decoration: underline;

}

.titlePage{
    text-align: center
}

@media only screen and (max-width: 600px) {
    .containText {
        font-size: 17px;
        width: 100%;
        min-height: 100vh;
    }

    .container {
        min-height: 100vh;
        margin-top: 165px;
    }
}

@media only screen and (max-width: 1100px) {
    .containText {
        font-size: 17px;
        width: 90%;
        min-height: 100vh;
    }

    .container {
        min-height: 100vh;
        margin-top: 165px;
    }
}
