<div class="container">
<input 
type="checkbox"
class="c-checkbox" 
id="checkbox">
<div class="c-formContainer">
  <form class="c-form" (ngSubmit)="onSubmit()" [formGroup]="profileForm">
    <input
     appAutofocus
     class="c-form__input" 
     placeholder="(פב''פ) שם המנוח/ה" 
     pTooltip="פב''פ" 
     [tooltipPosition]="tooltipPosition.TOP"
     tooltipStyleClass="privateNameTooltip"
     (input) = "setDeadManName($event)" 
     formControlName="privateName" 
     type="text"   
     required
    >
    <label 
      class="c-form__buttonLabel"
      pTooltip=" לחץ עליי להתחלת לימוד" 
      [tooltipPosition]="tooltipPosition.RIGHT" 
      tooltipStyleClass="buttonNameTooltip">
      <button
      type="submit" 
      class="c-form__button"
      [disabled]="profileForm.invalid"
      >החל לימוד</button>
    </label>
    <label class="c-form__toggle" for="checkbox" data-title="שם המנוח/ה"></label>
  </form>
</div>
</div>
<app-logo-bnh></app-logo-bnh>